.input {
  background: transparent;
  text-align: center;
  font-size: 1.8rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  color: var(--text-default);
  outline: none;
  border:  solid transparent;
  border-bottom:  solid var(--primary);
  transition: all 0.2s ease-in;

  &:focus {
    border:  solid var(--primary);
  }

  &::placeholder {
    color: var(--gray-400);
    font-size: 1.8rem;
    font-style: italic;
  }

  &:disabled {
    border-bottom: solid var(--disabled);
    color: var(--text-muted);
  }
}
