.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.6rem;
  text-transform: capitalize;
}

.cycles {
  display: flex;
  gap: 0.8rem;
}

.dot {
  width: 2rem;
  height: 2rem;
  background-color: var(--primary);
  border-radius: 50%;
}

.workTime {
  background-color: var(--warning);
}

.shortBreakTime {
  background: var(--primary);
}

.longBreakTime {
  background: var(--info);
}
